<!-- extend base layout -->
{% extends "/projects/base.html" %}
{% include "_flash_messages.html" %}
{% from "projects/_helpers.html" import render_project_card_option %}
{% set active_link  = "tasks" %}
{% from "_formhelpers.html" import render_field, render_checkbox_field %}

{% block projectcontent %}

<script>
	function addQuestion(){
		try{
		var d=document.getElementById("add");
		var y=document.getElementById("add").children;
		 for(var i=0;i<y.length;i++)
		 {
		 	if(y[i].value=="")
		 		d.removeChild(y[i]);
		 }
		input=document.createElement("input");
		input.setAttribute("type","text");
		input.setAttribute("_class","span4");
		input.setAttribute("size","50");
		input.setAttribute("placeholder","Add your Question here");
		input.setAttribute("name","question");
		d.appendChild(input);
		}catch(e)
		{
			alert(e);
		}
	}
</script>
<h2>{{_('Add Question For Images')}}</h2>
 <form method="post">
	 <fieldset>
	 <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

		<div id="add">
			<input  type="text" name="question" size="50" placeholder="Add your Question here">
		</div>
		<button type="button" class="btn btn-primary" onclick="addQuestion()">Add Question</button>
		<input type="submit" class="btn btn-primary" name="submit" value="submit"/>
		</fieldset>
		</form>
{% endblock %}
