{% extends "projects/base.html" %}
{% include "_flash_messages.html" %}
{% from "projects/_helpers.html" import render_project_card_option %}
{% set active_link  = "tasks" %}
{% from "_formhelpers.html" import render_field, render_checkbox_field %}

{% block projectcontent %}
  <form method="post">
  {% if(arr|length>0) %}
<h><b>Please Uncheck the following item if you do not need tagging ?
 </b></h>

 <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
	{% for key, value in arr.items() %}
		{% if value!=0 and key!="zzz"%}
		<div class="checkbox">
 		 <label><input type="checkbox" name="selecttype" value="{{ key }}" checked>Number of<b> {{ key }}</b> are :<b> {{value}}</b></label>
		</div>
		{% elif key=="zzz"%}
			<input type="checkbox" name="filepath" value="{{value }}" style="visibility:hidden " checked />
		{%endif %}
	{% endfor %}
	<input type="submit" class="btn btn-primary" >
</form>
 {%else%}
	  <b>Sorry You don't have suitable format file <br>Please Upload again</br>
	  <a class="btn btn-info" href="custom_upload_task">Upload Again</a>
	  </b>
{%endif%}

{% endblock %}
